.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.carrito {
  color: white !important;
}

.container_principal {
  background-color: #eeeeee;
  height: 100%;
  min-height: 100%;
}

.columna_central {
  height: 100%;
  min-height: 100%;
  background-color: white;
}

.precio_card {
  color: #43a047;
}

.img_container {
  text-align: center;
}

.card_producto {
  width: 80% !important;
}

.card-item-carrito {
  background-color: rgb(238, 236, 236);
}

.qty i {
  font-size: 11px;
}
